/*  #cv-form {
    display: none;

} */

/*
.template {
    display: none;

} */

#template1 .background {
    background-color: rgba(211, 211, 211, 0.518);

} 

#template2 .background {
    background-color: rgb(86, 199, 237);


} 

.myimg {
    border-radius: 50%;
    width: 200px;
}

